.circle {
    background-color: rgb(68, 114, 147);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 15rem;
    margin-left: 9rem;
    animation: 5s;
    transition: all 5s;
  }
  
  .circle:hover {
    transform: translateX(800px) scale(4);
  }