* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main-container {

    border: 2px solid black;
    /* display: flex; */
    /* gap: 20px; */
    /* margin-left: 300px; */
    /* margin-right: 300px; */
    /* gap: 0px; */

}

.box-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-column-gap: 0px; */
    /* margin-left: 3%; */
    /* margin-right: 300px; */
}

.box1 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 20px;
    width: 60%;
    height: 300px;
    gap: 15px;
    

}

.upper-box{
    background-color: rgb(65, 74, 74);
    height: 150px;
    color: white;
    text-align: center;
    padding-top: 60px;
}

.para{
    padding-left: 10px;
    padding-bottom: 15px;
}

.b1{
    height: 30px;
    width: 50px ;

}

.b2{
    height: 30px;
    width: 50px ;
    
}

.buttons{
    padding-left: 10px;
}