*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
}

.box-1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 350px;
    width: 400px;
    gap: 20px;
    padding-left: 10px;
    text-align: start;
    background-color: aqua;
}

.heading-1{
    font-size: 30px; 
    font-weight: 900;
    padding-top: 15px;
}

.para1{
    font-weight: 500;
}

.box-2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 350px;
    width: 400px;
    gap: 20px;
    padding-left: 10px;
    text-align: start;
    background-color: aqua;
}

.heading-2{
    font-size: 30px; 
    font-weight: 900;
    padding-top: 15px;
}

.para2{
    font-weight: 500;
}

.box-3{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 450px;
    background-color: aqua;
    gap: 20px;
}

.four-button{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.bt{
    height: 25px;
    width: 85px;
    font-size: 15px;
    font-weight: 600;
}
.one-button{
    display: flex;
    justify-content: center;
}

.b5{
    height: 25px;
    width: 405px;
    font-weight: 600;

}

.para-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 25px;
}